.projectcardlist {
    display: flex;
    flex-direction: column;
    /* カード間の余白やレイアウトを自由に調整 */
    margin-top: 20px;
  }
  .projectcardlist {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 540px) {
    .projectcardlist {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 6%;
      padding: 40px 0;
      border-bottom: solid 0.3px #e5e5e5;
    }
    .projectcardlist > * {
      width: 48%;
    }
  }
  